<ul>
    {% for entity in entities %}
        {% if entity.getAjaxDisplay is defined %}
            {% set entityS = entity.getAjaxDisplay %}
        {% else %}
            {% set entityS = entity %}
        {% endif %}
        <li data-id="{{ entity.id }}" data-string="{{ entityS }}">{{ entityS }}</li>
    {% endfor %}
</ul>

