div.verboseSelectWidget {
    overflow-y: scroll;
    max-height: 200px;
    border: 1px solid #cccccc;
    border-radius: 5px;}
    
div.verboseSelectWidget input {
    position: absolute;
    left: -999em;}
    
div.verboseSelectWidget label {
    display: block;
    padding: 0.5em;
    margin: 0;
    font-size: 0.8em;}
    
div.verboseSelectWidget label:hover {
    background: #006DCC;
    color: #ffffff;}
    
div.verboseSelectWidget input:checked + label {
    background: #0044cc;
    color: #ffffff;}
    
div.verboseSelectWidget label span {}
    
div.verboseSelectWidget label span.optionTitle {
    font-size: 1.2em;}

div.collapseWidget {
    display: none;}

input.showWidget:checked ~ div.collapseWidget {
    display: inherit;}